button
{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

input, p, select{
  text-align: center;
  padding-top: 0px;
  font-size: 200%;
}

ul{
  display: inline-block;
}

div#special{
  text-align: left;
  padding-top: 0px;
}